.container {
    background-color: #f5f3f4;
    width: 300px;
    height: auto;
    margin: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.titleActivity {
    padding: 20px;
    justify-content: center;
    height: 40px;
}

.flag {
    width: 70%;
    max-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    object-fit: cover;
}

.containerBtn {
    display: flex;
    justify-content: right;
    letter-spacing: 1px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400px;
}

.flagContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #293241;
    margin: 0;
    padding: 0;
}

.btnClose {
    background-color: #293241;
    border: none;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 0;
}

.btnClose:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #293241;
    margin: 0;
    padding: 0px 20px 20px 20px;
}

.flagC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cardText {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cardSubtitle {
    padding: 25px;
}

.cardList {
    font-size: 16px;
    padding: 5px 0px;
}

.cardHighlight {
    font-size: 18px;
}
