.containerBar {
  top: 85px;
  left: 0;
  width: 100%;
  position: fixed;
  background: rgb(41,50,65);
  background: linear-gradient(180deg, rgba(41,50,65,1) 23%, rgba(52,63,83,1) 85%);
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  z-index: 100;
}

.searchBar {
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  width: 220px;
  padding: 10px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

::placeholder {
  color: white;
  opacity: 1;
}

.selectBox {
  width: 220px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400px;
  border: none;
  font-weight: 400;
  background-color: transparent;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  outline: none;
}

.paginationContainer {
  display: flex;
  align-items: center;
  z-index: 100;
  margin: 0;
}

.paginationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btnPagination {
  border: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  cursor: pointer;
  top: 200px;
  position: relative;
  background-color: #f5f3f4;
  color: #293241;
  padding: 10px;
  width: 40px;
}

.btnPagination:hover {
  font-weight: 600;
  background-color: #293241;
  color: white;
}

.active {
    font-weight: 300;
    background-color: #293241;
    color: white;
    border: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    top: 200px;
    position: relative;
    padding: 10px;
    width: 40px;
}

.btnSearch {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 0px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.btnChange {
  background-color: #293241;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.cntPlan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnPlan {
  background-color: transparent;
  border: none;
  text-decoration: none;
  bottom: 0px;
  justify-content: center;
}

.planStyle {
  background-color: white;
  padding: 10px;
  color: #293241;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}