.background {
    background-color: #d3d3d3;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-items: center;
    position: relative;
    bottom: -40vh;
}

.footerTitle {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
