.navbar {
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #293241;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
}

.title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    align-self: flex-start;
    line-height: 50px;
    margin: 20px;
}

.titleSpan {
    color: yellow;
    font-size: 44px;
}

.linkStyle {
    text-decoration: none;
}
